.*
*.vcd
obj_dir
*.gtkw

test/soft/
core/
!core/top_axi_wrapper.v
test/sim/trace.fst
test/sim/golden_trace.txt
test/sim/*.bin

test/sim/gen_bin/build/*.bin
test/sim/gen_bin/build/*.o
test/sim/gen_bin/build/*.s
